<div class="jumbotron jumbotron-fluid">
  <div class="container">
	<h1>Welcome to Cube Deck</h1>
	<h4>A membership site where small business owners, for profit, and non-for-profit organizations can meet developers.</h4>
   </div>
</div>

<div class="row">
 <div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Basic Plan</h2>
			<h4>Sign up for free and get basic access to the community of developers.</h4>
			<br/>
      <%= link_to "Sign up with Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>

		</div>
	</div>
 <div class="col-md-6">
		<div class="well">
			<h2 class="text-center">Premium Plan </h2>
			<h4>Sign up for the premium account for $7/month and get access to the community of developers and contact information!</h4>
			<br/>
			<%= link_to "Sign up with Premium", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
		</div>
	</div>
</div>