<!DOCTYPE html>
<html>
 <%= render 'shared/head' %>
  <body>
    <%= render 'shared/header' %>
  	
  	<div class="container">
  		<% flash.each do |key, value| %>
  		<%= content_tag :div, value, class: "alert alert-#{key}" %>
  		<% end %>

    	<%= yield %>
    </div>
    <footer>
    &copy; 2017 Cubedeck. This website was created and designed by Chidinma Eze.
  </footer>

  </body>
</html>